### IntelliJ IDEA ###
.idea/
*.iml

### Build output ###
out/
*.class

### Packaged / generated application files ###
packaged/
installer/
release/

### Runtime data ###
data/*.dat

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db